{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": false,
  "bracketSpacing":true,
  "requirePragma": true,
  "insertPragma":true,
  "singleAttributePerLine": true
}
